* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.logo-container img {
    width: 30px;
    height: 30px;
}

button {
    font-family: 'Poppins', sans-serif;
}


body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
.banner{
    background-image: url("images/banner.png");
    background-size:cover;
    height:70vh;
    margin-bottom: 1.3em;
}
.logo-container,
.nav-links {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}


.container{
    display: flex;
    width: 40%;
    height: 80vh;
    margin-right: auto;
    align-items: center;
 
}

.introduction{

margin-left: 1em;
min-height: 50%; 
}

.intro-text h1 {
    font-size: 35px;
    font-weight: 500;
    color: blanchedalmond;
}


.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: blanchedalmond;
}


.active{
    display: none;
}

.other-btnOne {
    border: 2px solid#adff2f;
    background: transparent;
    color: #adff2f;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.other-btnTwo {
    background: #adff2f;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color:#fff;
    margin: 30px 0px 0px 30px;
    font-family: 'Poppins', sans-serif;
}

.banner{
    animation: drop 1.5s ease;
}
.history{
    padding: 0 4em;
    margin: 2em 0;
    text-align: justify;
}
.item-article{
    display: inline-block; 
} 
.item-figure-none{ 
    height:21em; 
    margin:1em;
    border-radius: 1em;
    background:#adff2f; 
    cursor: pointer;
}
.item-figure{
   height:30em; 
   border-radius: 2em;
   margin:1em;
   background:#adff2f;
  
}

.item_title{
    font-size: xx-small;
    font-size: 1em;
    font-weight: bold;
    text-align: center; 
    border-radius: 13px; 
  
}

.item_description{
    font-size:.8em;
    font-weight: bolder;
    padding-left: 2em;
    text-align: left;
    
}
.item_title-full{
 font-size: 1.4em;
 text-align: center;
 font-weight: bolder;
 margin-bottom: -1.5em;
  
}
.item-figure-full{
    height:38em; 
    border-radius: 2em;
    margin:1em;
    background:#adff2f;
}
.item_description-full{
    padding-left: 1em;
    font-size: .9em;
    
}

.modal{
    position: fixed;
    top:0;
    width: 100%;
    height:100vh;
    text-align: center;
    background:rgba(28, 29, 26, 0.8);
    color: white;

 
}
.card__body{

    background: rgba(173, 255, 47, .7);
    width: 30%;
    margin: .2em auto;
}

.current{
    width: 405px;
    height: auto;
}
    
.card-description{
    padding-left: 1.5em;
    font-size: .9em;
    text-align: left;
}


.button_modal button {
  border: none;
  background:#adff2f;
  width: 100%;
  font-size: medium;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  padding: .8em;
  margin-top: 1em;
}
.button_modal button:hover{
    background: rgba(142, 175, 75, 0.1);
}

.card-episode{
    text-align: left;
    width: 50%;
    margin: 0 40%;
   
}
.img_image img{
    width: 300px;
    height: auto;
}
.img_image{
 padding-left: 35em;
 margin-bottom: 1em;
 

}

.item_listado{
    list-style: none;  
    margin-left: 35em; 
}

.btnBoton{
    margin-top: 3em;
    width: 100%;
    font-size: 1em;
    font-weight: bolder;
    border: none;
    background: #adff2f;
    cursor: pointer;
}
.off{
    display:none;
}

.close{
    position: absolute;
    top:0;
    right:1em;
    font-size: 2em;
    text-align: right;
    z-index: 1;
    color:#fff;
    cursor: pointer;

}
.tabs-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1em auto;
}
.tabs {
    margin: 1rem 0 0 0;
    display: flex;
    position: relative;
}
.tabs__item {
    list-style: none;
    line-height: 2.5rem;
    padding: 0 1rem;
    margin-right: 1px;
    background:#ccc; 
    border: 1px thick #383e46; 
    border-radius: 3px 3px 0 0;
    position: relative;
    top: 1px;
    border-bottom: none;
    cursor: pointer;
}
.tabs__item.habilitar {
    background:rgba(173, 255, 47, .8);
    z-index: 20;
}
.panels {
    border: 1px solid #ccc;
    padding: 1rem;
}
.panels__item {
    position: absolute;
    left: -6000px;
}
.panels__item.habilitar {
    position: relative;
    left: 0;
}
.panels__item li{
    border-top:thin solid #ccc;
    list-style: none;
    padding: 1rem;
    cursor: pointer;
}
.panels__item li:hover{
    background:rgba(173, 255, 47, .8);
    color:black;
}

footer{
    text-align: right;
    margin-right: 2em;
    
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@media screen and (max-width:768px) {
    .container {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
    
    .cover img {
        height: 50%;
    }
}
@media screen and (max-width:1024px) {
    .container {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
    
    .cover img {
        height: 50%;
    }
}
